.profile {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    span {
        display: flex;
        border-radius: 50%;
        align-items: center;
        font-size: 12px;
        justify-content: center;
        padding: 5px;
        background-color: aquamarine;
        width: 30px;
    }
}

.collection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-radius: 6px; 
    span {
        display: flex;
        align-items: center;
        gap: 10px;
        i {
            color: red;
        }
        p {
            font-size: 10px;
            margin-bottom: 0;
            color: red;
            line-height: 1.2;
        }
    }
    .btns {
        display: flex;
        font-size: 12px;
        gap: 6px;
        padding: 8px;
        border-radius: 12px;

        button {
            cursor: pointer;
            border: 0px solid #c9c3c3;
            background-color: transparent;
            border-radius: 6px;
            font-size: 12px;
            color: #fff;
            padding: 5px 15px;
            i {
                font-size: 9px;
                font-weight: bolder;
                margin-right: 5px;
                line-height: 0;
            }
        }
        .gave {
            background-color: #ff4343;
        }
        .got {
            background-color: #13cb11;
        }
    }
}

table {
    margin: auto;
    border-radius: 8px;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    border-collapse: collapse;
    z-index: 1;
    color: #2b3c56;
    white-space: nowrap;

    tbody tr:not(:last-child) {
        border-bottom: 1px solid rgba(1, 1, 1, 0.2);
    }

    th {
        padding: 15px;
        gap: 14px;
        position: relative;
        cursor: default;
        font-size: 12px;
        color: black;
    }


    td {
        padding: 15px;
        color: GRAY;
        gap: 10px;
        position: relative;
        cursor: default;
        font-size: 12px;
    }

    td,
    tr:first-child th {
        border-bottom: 1px solid #9f9f9f;
    }

    td {
        font-weight: 500;
        &:nth-last-child(3) {
            color: #ff4343;
        }
        &:nth-last-child(2) {
            color: #60ca60;
        }
        &:last-child {
            color: #60ca60;
        }
    }

    .red {
        color: #ff4343;
    }
    .green {
        color: #60ca60;
    }

    thead {
        background-color: #0000000a;
        th {
            text-transform: uppercase;
            font-weight: 500;
        }
    }

    tr:hover {
        background-color: #f9f9f9;
    }

    table a {
        color: #2b3c56;
    }
}
