@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

:root {
  --main: #323234;
  --white: #ffffff;
  --black: #000;
  --button: #3f51b5;
  --border-color: #e0e0e0;
  --login-box: #607d8b;
  --br: 4px;
}
/* You can add global styles to this file, and also import other style files */
input:focus-visible {
  outline: 0ch;
}
* {
  font-family: Poppins;
  font-size: 14px;
}

.p-dialog-header {
  padding: 6px 15px !important;
}
.p-dialog .p-dialog-content {
  padding: 0px 15px 5px 15px !important;
}
*:focus-visible {
  outline: -webkit-focus-ring-color auto 0px !important;
}

img {
  height: auto;
  max-width: 100%;
}

.verticle_form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  label {
    width: 100%;
    font-size: 12px;
    input,
    textarea {
      width: 100%;
      font-size: 12px;
      height: 30px;
      border: 1px solid #dbdbdb;
      border-radius: 6px;
      padding: 0px 10px;
    }
    textarea {
      height: 50px;
      padding: 5px 10px;
      :focus-visible {
        outline: -webkit-focus-ring-color auto 0px !important;
      }
    }
  }
  .flexo {
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;

    button {
      background-color: #fff;
      border: 1px solid #dbdbdb;
      border-radius: 4px;
      font-size: 12px;
      height: 25px;
      padding: 0px 15px;
      i {
        font-size: 9px;
        font-weight: bolder;
        margin-right: 5px;
        line-height: 0;
      }
    }

    .gave {
      color: #fff;
      background-color: #ff4343;
    }
    .got {
      color: #fff;
      background-color: #13cb11;
    }
    .active {
      background-color: #000;
      color: #fff;
    }
  }

  .btn {
    border: 1px solid #c4b5b5;
    margin-bottom: 10px;
    font-size: 12px;
    &:hover {
      background-color: #edebeb;
    }
  }
}
